* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}

body{
    background-color: #767474;
}

#corpo {
  width: 2640px;
}

header {
  height: 800px;
  background: #303030;
  display: flex;
  flex-direction: column;

  color: aliceblue;
}

#titulo-header {
  margin: 200px 0 0 62px;
  color: #ffffff;
  font-size: 140px;
  font-weight: 600;
}

#paragrafo-header {
  margin: 29px 0 0 62px;
  color: #ffffff;

  font-size: 80px;
  font-weight: 500;
}

nav {
  background: #f9f9f9;
  display: grid;
  grid-auto-flow: column;
  columns: auto;
  
  
  
}

.div-nav {
  height: 250px;
  margin: 80px auto 0;

  
}

.paragrafo-informativo {
  font-size: 50px;
}

.numero {
  font-size: 60px;
  font-weight: bold;
}

/*Section*/
section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1300px;
  background-color: #ffffff;
}

.div-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  width: 1500px;
 
}

#titulo-section {
  font-size: 80px;
  font-weight: 500;
  margin-top: 50px;
}

#paragrafo-section {
  font-size: 50px;
  font-weight: 400;
  text-align: left;
  margin-left: 50px;
}

img {
  width: 900px;
  height: 1000px;
}

footer {
  height: 800px;
  background: #303030;
  display: flex;
 
}




#div-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
  
}

#titulo-footer {
  font-size: 50px;
  font-weight: 700;
  color: white;
}

.input-footer {
    width: 908px;
    height: 120px;
    border-radius: 10px;
    font-size: 50px;
    padding-left: 30px;
  }

  button {
    width: 550px;
    height: 120px;
    border-radius: 10px;
    font-size: 50px;
    font-weight: bold;
    background: #c07212;
    color: white;
    border: none;
    border-radius: 10px;
  }

  button:hover{
    background-color: #a26419;
    box-shadow: 0 20px 15px 10px #0b0b0b;
  }

  button:active{
    background: rgb(159, 135, 1);
  }
